In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("course_lead_scoring.csv")

In [5]:
df.head(n=20)

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1
5,events,manufacturing,1,59904.0,NaN,africa,6,0.83,1
6,social_media,technology,0,51283.0,NaN,middle_east,2,0.57,0
7,social_media,NaN,5,62975.0,student,europe,4,0.62,1
8,referral,healthcare,4,38648.0,unemployed,south_america,2,0.86,1
9,paid_ads,other,3,59866.0,student,australia,3,0.43,1
10,paid_ads,retail,2,79276.0,employed,middle_east,2,0.92,1
11,organic_search,finance,4,80304.0,self_employed,NaN,3,0.97,1
12,organic_search,NaN,2,55615.0,self_employed,middle_east,6,0.71,1
13,social_media,other,3,55438.0,NaN,middle_east,1,0.69,0
14,paid_ads,healthcare,3,NaN,unemployed,middle_east,4,0.75,1
15,referral,healthcare,2,56004.0,student,middle_east,0,0.64,0
16,referral,retail,0,54612.0,self_employed,europe,4,0.86,1
17,referral,other,2,92470.0,unemployed,europe,4,0.74,1
18,referral,manufacturing,2,74380.0,self_employed,NaN,5,0.51,1
19,paid_ads,NaN,2,62809.0,self_employed,europe,5,0.33,1